body { 
    padding-top: 65px; 
}

/* Copy Right Footer */
.footer-copyright { 
    background: #222; 
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-copyright p { color: #969696; }